* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
    background-color: #111110;
    /* background-color: var(--iro-color-value); */
}
nav{
    position: fixed;
    width: 100%;
    background-color: #181717;
    z-index: 1;
}
#nav-container{
    display:flex;
}
#nav-container h1{
    color: rgb(255,255,255,0.8);
    font-size: 1.2rem;
    line-height: 40px;
    margin-left: 10px;
    margin-right: 10px;
}
#nav-icon{
    width: 25px;
    height: 25px;
    background-image: url("color-picker-2.png");
    background-size: cover;
    background-position: center;
    margin-top: 7px;
}
#picker-container{
    height: 100vh;
    width: 100%;
    text-align: center;
    /* border: 1px solid orange; */
}

#inner-container{
    width: 375px;
    height: 375px;
    /* border: 1px blue solid; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

#picker{
}

#rect-container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}
.rect{
    width: 100px;
    height: 50px;
    background-color: transparent;
    color: rgb(255,255,255,0.8);
    border: 1px solid rgb(255,255,255,0.2);
    text-align: center;
    line-height: 50px;
    border-radius: 10px;
    margin: 5px;
}
.rect:hover{
    cursor: pointer;
}
#color-info{
    padding-left: 80px;
}
#color-info *{
    color: rgb(255,255,255,0.6);
    margin: 5px;
    text-align: justify;

}
#color-info * span{
    color: var(--iro-color-value);
}